/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 1p', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("/static/images/night view in Boston.jpg");
    background-size: cover;
}

.wrapper {
    background: #fff;
    width: 400px;
    border-radius: 10px;
    padding: 35px;
}

.wrapper .content-box {
    padding: 13px 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.title h1 {
    text-align: center;
    letter-spacing: 1px;
}

.content-box .content {
    margin-top: 17px;
    padding: 12px 0;
    border-top: 1px solid #ccc;
    /* justify-content: space-between;
    align-items: center; */
}

.result-detail {
    margin: 17px 0px 20px;
}

.result-detail p {
    text-align: center;
    letter-spacing: 1px;
    font-size: 21px;
    height: 40px;
}

.event-button {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #ccc;
}

.event-button button {
    border: none;
    outline: none;
    width: 105px;
    background: #17a2b8;
    padding: 8px 0;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: transform 0.3s ease;
    margin-top: 30px;
    margin-bottom: 15px;
}

.event-button button:active {
    transform: scale(0.97);
}